/* Add a background image and style for the login container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 40px;
  font-family: 'Arial', sans-serif;
  background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?fit=crop&w=1650&q=80') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Keeps background image fixed */
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.header-text {
  font-size: 32px;
  font-weight: bold;
  color: #73aaec;
  line-height: 1.5;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px #000000;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increased width of the login form */
}

.for-Login {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

.for-padding {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-right: 0px;
}

.login-button, .forgot-password-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4a90e2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover, .forgot-password-button:hover {
  background-color: #357ab7;
}

.forgot-password-button {
  background-color: #f5f5f5;
  color: #333;
}

.forgot-password-button:hover {
  background-color: #e0e0e0;
}

input#password {
  padding-right: 0;
}

input#email {
  padding-right: 0;
}

/* Responsive Styles */

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .login-box {
    width: 90%; /* Adjust the width to be more responsive */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .header-text {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .for-Login {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .login-button, .forgot-password-button {
    font-size: 14px; /* Adjust font size for buttons */
    padding: 8px; /* Adjust padding for buttons */
  }
}


.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
